<div class="mt-28 flex justify-center lg:mx-auto lg:w-full lg:max-w-[566px] h-full">
    <div class="box-border h-96 border-2 border-gray-300 lg:rounded-xl">
      <%= form_for(resource, as: resource_name ,url: password_path(resource_name), html: { class:"flex flex-col justify-evenly h-full",method: :post }) do |f| %>
        <div class="px-12 w-full border-b-2 border-gray-100">
            <h2 class="font-semibold text-center">Forgot password?</h2> 
        </div>
        <div class="px-12 py-2">Enter the email address associated with your account, and we’ll email you a link to reset your password.</div>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.email_field :email, placeholder: "Email" ,autofocus: true, autocomplete: "email", class:"block rounded-md mx-12 border-0 py-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
        <%= f.submit "Send reset link", class:"mt-40 mb-8 flex mx-12 justify-center rounded-md bg-black px-3 py-3 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      <% end %>

    </div>
  </div>


